<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	     http://www.springframework.org/schema/context 
	     http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="orange1" class="com.bamdow.example.Orange" ></bean>
	<bean id="apple1" class="com.bamdow.example.Apple" ></bean>
	
	<bean id="people1" class="com.bamdow.example.People" >
		<constructor-arg ><value>小明</value></constructor-arg>
		<property name="fruit" ref="orange1"></property>
	</bean>
</beans>